
<table class="table table-bordered">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Status</th>
        <th>Detail</th>
    </tr>
    </thead>
    <tbody>
    {{range .Orders}}
    <tr>
        <td>{{.ID}}</td>
        <td>{{.FirstName}} {{.LastName}}</td>
        <td>{{.Email}}</td>
        <td>{{.Phone}}</td>
        <td>{{.Status}}</td>
        <td>
            <a href="/admin/orders/{{.ID}}" class="btn btn-info btn-sm">Detail</a>
        </td>
    </tr>
    {{end}}
    </tbody>
</table>
