<div class="slider-area">
    <!-- Slider -->
    <div class="block-slider block-slider4">
        <ul id="bxslider-home4">
            {{range .Banners}}
            <li>
                <img src="{{.ImageURL}}" alt="Slide">
                <div class="caption-group overlay-text">
                    <h2 class="caption title">
                        {{.Title}}
                    </h2>
                    <h4 class="caption subtitle">
                        {{.Subtitle}}
                    </h4>
                    <a class="caption button-radius" href="{{.Link}}"><span class="icon"></span>Shop now</a>
                </div>
            </li>
            {{end}}
        </ul>
    </div>
    <!-- ./Slider -->


    <div class="promo-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="single-promo promo1">
                    <i class="fa fa-refresh"></i>
                    <p>30 Days return</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="single-promo promo2">
                    <i class="fa fa-truck"></i>
                    <p>Free shipping</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="single-promo promo3">
                    <i class="fa fa-lock"></i>
                    <p>Secure payments</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="single-promo promo4">
                    <i class="fa fa-gift"></i>
                    <p>New products</p>
                </div>
            </div>
        </div>
    </div>
</div> <!-- End promo area -->

<style>
    .slider-area .block-slider img {
        width: 100%;
        max-height: 600px; /* hoặc 300px tùy chiều cao bạn muốn */
        object-fit: cover; /* Cắt ảnh sao cho vừa khung mà không méo */
        object-position: center; /* Căn giữa ảnh */
    }
    .caption-group.overlay-text {
        background-color: rgba(0, 0, 0, 0.5); /* lớp nền đen mờ */
        padding: 20px;
        border-radius: 10px;
        display: inline-block;
        max-width: 50%;
        margin-top: 20px;
    }

    .caption-group.overlay-text h2,
    .caption-group.overlay-text h4,
    .caption-group.overlay-text a {
        color: #fff !important;
        text-shadow: 1px 1px 3px rgba(0,0,0,0.7); /* thêm bóng chữ cho rõ nét */
    }

</style>
<!-- Latest jQuery form server -->
<script src="https://code.jquery.com/jquery.min.js"></script>

<!-- Bootstrap JS form CDN -->
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

<!-- jQuery sticky menu -->
<script src="/assets/js/owl.carousel.min.js"></script>
<script src="/assets/js/jquery.sticky.js"></script>

<!-- jQuery easing -->
<script src="js/jquery.easing.1.3.min.js"></script>

<!-- Main Script -->
<script src="js/main.js"></script>

<!-- Slider -->
<script type="text/javascript" src="/assets/js/bxslider.min.js"></script>
<script type="text/javascript" src="/assets/js/script.slider.js"></script>